<header class="header">
  <img class="logo" src="assets/logo.png">
  <form class="search" action="#">
    <input type="text" placeholder="Search hotels">
    <button class="search-button">
      <svg>
        <use xlink:href="assets/sprite.svg#icon-magnifying-glass"></use>
      </svg>
    </button>
  </form>
  <nav class="upper-nav">
    <div class="bookmarks">
      <svg>
        <use xlink:href="assets/sprite.svg#icon-bookmark"></use>
      </svg>
      <span class="notification">3</span>
    </div>
    <div class="messages">
      <svg>
        <use xlink:href="assets/sprite.svg#icon-chat"></use>
      </svg>
      <span class="notification">17</span>
    </div>
    <div class="user">
      <img src="assets/user.jpg">
      <span class="name">Jonas</span>
    </div>
  </nav>
</header>
