@import 'src/app/media-query-manager';

.side-nav {
  height: 100%;
  flex: 0 0 18%;
  background-color: var(--color-gray-dark-1); 
  font-size: 1.4rem;

  display: flex;
  flex-flow: column;

  ul {
    flex-grow: 1;
    list-style: None;
    color: white;
    margin-top: 3.5rem;
    text-transform: uppercase;

    @include respond-to(bp-medium) {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;

      padding: 1.5rem 3rem;
      margin-bottom: .5rem;

      cursor: pointer;

      @include respond-to(bp-medium) {
        flex: 0 0 25%;
        margin-bottom: 0;
        padding: 2rem 3rem;
        justify-content: center;
      }

      &.active {
        background-color: var(--color-primary);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 3px;
        
        background-color: var(--color-primary);
        transform: scaleY(0);

        transition: width .4s ease-out .2s,
                    transform .2s,
                    background-color .1s;
      } 

      &:hover::after {
        width: 100%; 
        transform: scaleY(1);
        background-color: var(--color-primary);
      }

      .nav-icon {
        width: 1.75rem;
        height: 1.75rem;

        margin-right: 2rem;

        fill: white;
      }

      .nav-icon,
      span {
        z-index: 100;
      }
    }
  }

  .legal {
    color: var(--color-gray-light-4);
    font-size: 1rem;
    text-align: center;
    padding: 2.5rem;

    @include respond-to(bp-medium) {
      display: none;
    }

    a {
      color: var(--color-gray-light-3);
      text-decoration: none;
    }
  }
}
