<nav class="side-nav">
  <ul>
    <li class="active">
      <svg class="nav-icon">
        <use xlink:href="assets/sprite.svg#icon-home"></use>
      </svg>
      <span>Hotel</span>
    </li>
    <li>
      <svg class="nav-icon">
        <use xlink:href="assets/sprite.svg#icon-aircraft-take-off"></use>
      </svg>
      <span>Flight</span>
    </li>
    <li>
      <svg class="nav-icon">
        <use xlink:href="assets/sprite.svg#icon-key"></use>
      </svg>
      <span>Car rental</span>
    </li>
    <li>
      <svg class="nav-icon">
        <use xlink:href="assets/sprite.svg#icon-map"></use>
      </svg>
      <span>Tours</span>
    </li>
  </ul>
  <div class="legal">
      Design by <a href="http://codingheroes.io">Jonas Schmedtmann</a>. <br>Built by <a href="http://github.com/mslawins">Marek Sławiński</a>.
  </div>
</nav>
