.container {
  display: flex;

  .main {
    background-color: var(--color-gray-light-1); 
    flex: 1;
  }
}

.content {
  background-color: var(--color-gray-light-2);
  padding: 4.5rem;
  display: flex;
}
