@import 'src/app/media-query-manager';

.container {
  display: flex;

  @include respond-to(bp-medium) {
    flex-flow: column;
  }

  .main {
    background-color: var(--color-gray-light-1); 
    flex: 1;
  }
}

.content {
  background-color: var(--color-gray-light-2);
  padding: 4.5rem;
  display: flex;

  @include respond-to(bp-small) {
    flex-flow: column;
  }

  ms-reviews {
    @include respond-to(bp-small) {
      margin-top: 3.5rem;
    }
  }
}
