<main class="main">
  <ms-side-nav>
  </ms-side-nav>
  <div class="content">
    <div class="gallery">
      <figure>
        <img src="assets/hotel-1.jpg">
      </figure>
      <figure>
        <img src="assets/hotel-2.jpg">
      </figure>
      <figure>
        <img src="assets/hotel-3.jpg">
      </figure>
    </div>

    <div class="overview">
      <h1>Hotel las palmas</h1>
      <div class="place">Albufeira, Portugal</div>
      <div class="rating-panel">
        <span class="rating">8.6</span>
        <span class="votes">429 votes</span>
      </div>
    </div>

    <div class="details">
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="user-reviews">
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
        <span>See all</span>
      </div>
    </div>
  </div>
</main>
