.main {
  display: flex;
  height: 50rem;


  .content {
    background-color: var(--color-gray-light-1); 
    flex: 1;

    .gallery {
      display: flex;

      figure > * {
        width: 100%;
        display: block;
      }
    }

    .overview {
      background-color: white; 

      display: flex;
      justify-content: flex-start;
      align-items: center;

      h1 {
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      .place {
        margin-left: auto; 
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
      }

      .rating-panel {
        align-self: stretch;

        background-color: var(--color-primary);
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 2.25rem;
        margin-left: 2.25rem;

        font-weight: 300;

        .rating {
          font-size: 2rem;  
          margin-bottom: -3px;
        }
      }
    }
  }
}

.details {
  background-color: var(--color-gray-light-2);
  padding: 4.5rem;

  display: flex;

  .description {
    flex: 0 0 60%;
    background-color: white;
    margin-right: 4.5rem;
  }

  .user-reviews {
    flex: 0 1 40%;

    :not(:last-child) {
      margin-bottom: 3.5rem;
    }
    
    .review {
      background-color: white;
    }
  }
}
