<div class="user-reviews">
  <div class="review">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.</p>
    <div class="profile">
      <div class="person">
        <img src="assets/user-5.jpg" alt="user picture">
        <div class="details">
          <div class="name">Nick Smith</div>
          <div class="date">Feb 23rd, 2017</div>
        </div>
      </div>
      <div class="rating">7.8</div>
    </div>
  </div>

  <div class="review">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.</p>
    <div class="profile">
      <div class="person">
        <img src="assets/user-6.jpg" alt="user picture">
        <div class="details">
          <div class="name">Mary Thomas</div>
          <div class="date">Sep 13th, 2017</div>
        </div>
      </div>
      <div class="rating">9.6</div>
    </div>
  </div>

  <div class="more">
    <a href="#">Show all <span>&rarr;</span></a>
  </div>
</div>
